<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDh1oGOVq7Ld1tCthhikBOK3kCvA4Uc6z8</string>
	<key>GCM_SENDER_ID</key>
	<string>433274927814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jkblog.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jk-blog-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jk-blog-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433274927814:ios:8857cb31e16646eafc35c7</string>
</dict>
</plist>